@model teste.Models.Clientes

@{

    ViewData["Title"] = "Create";
}

<br />
<br />
<br />
<br />
<br />

<h1>Criar um novo Cliente</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacto" class="control-label"></label>
                <input asp-for="Contacto" class="form-control" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datanasc" class="control-label"></label>
                <input asp-for="Datanasc" class="form-control" />
                <span asp-validation-for="Datanasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>

                <input type="file" name="fotoCliente" accept=".jpeg,.jpg,.png" style="color:blue;" />
                <span asp-validation-for="Fotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<br />
<br />
<br />
<br />
<br />